[user]
	email = 48837241+dannywrayuk@users.noreply.github.com
	name = Danny Wray
[core]
	editor = code --wait
	autocrlf = input
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[push]
	autoSetupRemote = true
[credential]
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
