[user]
	email = 48837241+dannywrayuk@users.noreply.github.com
	name = Danny Wray
[core]
	editor = nvim
	autocrlf = input
[push]
	autoSetupRemote = true
[credential]
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
    rebase = true
[advice]
    statusHints = false
